/* All common css start  */
* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;

  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 p {
  margin: 0%;
  padding: 0%;
  line-height: 0.8;
}
.contioner {
  width: 1140px;
  margin: 0% auto;
}
.bb {
  border-bottom: none !important;
}
/* All common end  */
#headerpart {
  padding: 30px 0;
  top: 0%;
  left: 0%;
  position: fixed;
  width: 100%;
}
.logomenu {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu,
.menu ul {
  display: flex;
}
.menu ul li {
  padding: 0% 27px;
}
.menu ul li a {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
#button a {
  background-color: #fd6e0a;
  padding: 20px 27px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #fd6e0a;
  border-radius: 5%;
  transition: 0.4s;
  margin-top: -20px;
}
#button a:hover {
  background: transparent;
  color: #fd6e0a;
}
#bannarpart {
  padding-top: 250px;
  padding-bottom: 150px;
  background: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannartext h4 {
  font-size: 45px;
  font-weight: 500;
  color: #474747;
}
.bannartext h1 {
  font-size: 85px;
  font-weight: 600;
  color: #181818;
  padding-top: 30px;
  padding-bottom: 40px;
}
.p p {
  font-size: 21px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  width: 585px;
}
.bannartext a {
  background-color: #fd6e0a;
  padding: 15px 20px;
  color: #ffffff;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5%;
  border: 2px solid #fd6e0a;
}
.bannartext a:hover {
  background: transparent;
  color: #fd6e0a;
}
#aboutpart {
}
.about {
  padding: 130px 155px;
  text-align: center;
  background-color: #fff8f3;
}
.about h3 {
  font-size: 35px;
  font-weight: 600;
  color: #181818;
  padding-bottom: 40px;
}
.about p {
  font-size: 21px;
  font-weight: 400;
  color: #757575;
  width: 827px;
  line-height: 30px;
}
.aboutContactFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.aboutContact h4 {
  color: #757575;
  font-size: 20px;
}
.aboutContact h3 {
  padding-top: 8px;
  color: #474747;
  font-size: 20px;
}
#servicpart {
  padding-bottom: 130px;
}
.servichead {
  text-align: center;
}
.servichead h3 {
  font-size: 35px;
  font-weight: 600;
  color: #181818;
  padding-bottom: 30px;
}
.servichead p {
  font-size: 21px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  padding: 0 33px;
}
.servicflex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.servicitem {
  width: 23%;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.servicitem h3 {
  font-size: 20px;
  font-weight: 600;
  color: #181818;
  padding: 20px 0;
}
.servicitem p {
  font-size: 17px;
  font-weight: 400;
  color: #757575;
  line-height: 28px;
}
#summarypart {
  padding-bottom: 100px;
}
#summarypart p {
  color: #474747;
  line-height: 28px;
}
.summaryhead {
  text-align: center;
}
.summaryhead h3 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  padding-bottom: 100px;
}
.summaryflex {
  display: flex;
  justify-content: space-between;
}
.summaryleft {
  width: 48%;
}
.summaryright {
  width: 48%;
}
.summaryitem {
  border-bottom: 2px solid #d1d1d1;
  padding-bottom: 20px;
}
.summaryitem h3 {
  padding: 10px 0;
}
.summaryitem h4 {
  padding: 10px 0;
}
.summarybtn {
  text-align: center !important;
}
#footer {
  padding-top: 130px;
  padding-bottom: 50px;
  background-color: #FFF8F3;
}
.footerflex {
  display: flex;
  justify-content: space-between;
}
.footerleft {
  width: 45%;
}
.footerleft p {
  padding: 10px 0;
  color: #474747;
  line-height: 28px;
}
.footerleft a {
  color: #fd6e0a;
}
.footerright {
  width: 45%;
}
.myinput {
  display: block;
  width: 100%;
  padding: 30px 20px;
  margin: 20px 0;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #757575;
}
.btn a {
  background-color: #fd6e0a;
  padding: 20px 27px;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  font-size: 20px;
}
.btn a:hover {
  background: transparent;
  color: #fd6e0a;
}
